USE [master]
GO
/****** Object:  Database [KoiFish]    Script Date: 11/22/2024 7:35:09 PM ******/
CREATE DATABASE [KoiFish]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KoiFish_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KoiFish.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'KoiFish_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KoiFish.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KoiFish].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KoiFish]
GO
/****** Object:  Table [dbo].[fish]    Script Date: 11/22/2024 7:35:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fish](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[age] [bigint] NULL,
	[body_shape] [nvarchar](255) NULL,
	[breed] [nvarchar](255) NULL,
	[gender] [bit] NULL,
	[image] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[origin] [nvarchar](255) NULL,
	[price] [real] NULL,
	[size] [real] NULL,
	[weight] [real] NULL,
	[pond_id] [bigint] NULL,
 CONSTRAINT [PK__fish__3213E83FD2C4DF30] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fish_growth]    Script Date: 11/22/2024 7:35:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fish_growth](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[age] [bigint] NULL,
	[date] [date] NULL,
	[food_amount] [real] NULL,
	[size] [real] NULL,
	[weight] [real] NULL,
	[fish_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pond]    Script Date: 11/22/2024 7:35:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pond](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[depth] [real] NULL,
	[drain_count] [bigint] NULL,
	[image] [varchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[pump_capacity] [real] NULL,
	[size] [real] NULL,
	[volume] [real] NULL,
 CONSTRAINT [PK__pond__3213E83F4DCB2449] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 11/22/2024 7:35:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[img] [varchar](255) NULL,
	[link_to_buy] [varchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[price] [real] NULL,
	[status] [bit] NULL,
	[type] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKjmivyxk9rmgysrmsqw15lqr5b] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 11/22/2024 7:35:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[email] [varchar](255) NULL,
	[full_name] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[profile_picture] [varchar](255) NULL,
	[role] [bit] NULL,
	[status] [bit] NULL,
	[username] [varchar](255) NULL,
 CONSTRAINT [PK__users__B9BE370FB61D4EDB] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[water_parameter]    Script Date: 11/22/2024 7:35:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[water_parameter](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[measurement_date] [datetime2](6) NULL,
	[no2] [float] NULL,
	[no3] [float] NULL,
	[o2] [float] NULL,
	[ph] [float] NULL,
	[po4] [float] NULL,
	[salinity] [float] NULL,
	[temperature] [float] NULL,
	[pond_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[water_quality]    Script Date: 11/22/2024 7:35:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[water_quality](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[mucdo_oxygen] [real] NULL,
	[mucdo_ph] [real] NULL,
	[nhietdo] [real] NULL,
	[pond_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKr43af9ap4edm43mmtq01oddj6]    Script Date: 11/22/2024 7:35:09 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKr43af9ap4edm43mmtq01oddj6] ON [dbo].[users]
(
	[username] ASC
)
WHERE ([username] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[fish]  WITH CHECK ADD  CONSTRAINT [FKlta3uf54qalefalalraksyk9p] FOREIGN KEY([pond_id])
REFERENCES [dbo].[pond] ([id])
GO
ALTER TABLE [dbo].[fish] CHECK CONSTRAINT [FKlta3uf54qalefalalraksyk9p]
GO
ALTER TABLE [dbo].[fish_growth]  WITH CHECK ADD  CONSTRAINT [FKml702jy5e2ch3d7qmhrlvaido] FOREIGN KEY([fish_id])
REFERENCES [dbo].[fish] ([id])
GO
ALTER TABLE [dbo].[fish_growth] CHECK CONSTRAINT [FKml702jy5e2ch3d7qmhrlvaido]
GO
ALTER TABLE [dbo].[water_parameter]  WITH CHECK ADD  CONSTRAINT [FKd10ld9glyded0bqj07vksmsj5] FOREIGN KEY([pond_id])
REFERENCES [dbo].[pond] ([id])
GO
ALTER TABLE [dbo].[water_parameter] CHECK CONSTRAINT [FKd10ld9glyded0bqj07vksmsj5]
GO
ALTER TABLE [dbo].[water_quality]  WITH CHECK ADD  CONSTRAINT [FKi8s3x9wsgg5wkc53k5va4p31g] FOREIGN KEY([pond_id])
REFERENCES [dbo].[pond] ([id])
GO
ALTER TABLE [dbo].[water_quality] CHECK CONSTRAINT [FKi8s3x9wsgg5wkc53k5va4p31g]
GO
USE [master]
GO
